PORT=4000
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/streaming-news
TMDB_ACCESS_TOKEN=your_tmdb_v4_read_access_token
TMDB_API_BASE=https://api.themoviedb.org/3
TMDB_IMAGE_BASE=https://image.tmdb.org/t/p
WATCH_REGION=FR
TMDB_LANGUAGE=fr-FR
SYNC_CRON_SCHEDULE=0 3 * * *
SYNC_PAGES_PER_QUERY=15
SYNC_LOOKBACK_MONTHS=1
CORS_ORIGIN=http://localhost:4200
CRON_SECRET=generate_a_random_32_char_string
